################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/WindowsApp/.vs/WindowsApp/FileContentIndex/5778fcfc-068e-4704-9d32-71236aa380c9.vsidx
/WindowsApp/.vs/WindowsApp/FileContentIndex/d06edbe9-0ada-4474-acd5-886b86d79e43.vsidx
/WindowsApp/.vs/WindowsApp/v17/DocumentLayout.backup.json
/WindowsApp/.vs/WindowsApp/FileContentIndex
/WindowsApp/.vs/WindowsApp/v17/ResourceExplorer
/WindowsApp/.vs/WindowsApp/v17/.suo
/WindowsApp/.vs/WindowsApp/v17/DocumentLayout.json
/WindowsApp/WindowsApp/bin/Debug/WindowsApp.exe
/WindowsApp/WindowsApp/bin/Debug/WindowsApp.pdb
/WindowsApp/WindowsApp/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/WindowsApp/WindowsApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WindowsApp/WindowsApp/obj/Debug/WindowsApp.csproj.CoreCompileInputs.cache
/WindowsApp/WindowsApp/obj/Debug/WindowsApp.csproj.FileListAbsolute.txt
/WindowsApp/WindowsApp/obj/Debug/WindowsApp.csproj.GenerateResource.cache
/WindowsApp/WindowsApp/obj/Debug/WindowsApp.exe
/WindowsApp/WindowsApp/obj/Debug/WindowsApp.Form1.resources
/WindowsApp/WindowsApp/obj/Debug/WindowsApp.pdb
/WindowsApp/WindowsApp/obj/Debug/WindowsApp.Principal.resources
/WindowsApp/MiPrimerConsola/bin/Debug
/WindowsApp/MiPrimerConsola/obj/Debug
/WindowsApp/WindowsApp/obj/Debug/WindowsApp.csproj.AssemblyReference.cache
/WindowsApp/POO/bin/Debug
/WindowsApp/POO/obj/Debug
/WindowsApp/ValorReferencia/bin/Debug
/WindowsApp/ValorReferencia/obj/Debug
/WindowsApp/WinApp/bin/Debug
/WindowsApp/WinApp/obj/Debug
/.vs/Introduccion2025/v17
/WindowsApp/Proyecto/Dao/bin/Debug
/WindowsApp/Proyecto/Dao/obj/Debug
/WindowsApp/Proyecto/POO/bin/Debug
/WindowsApp/Proyecto/POO/obj/Debug
/WindowsApp/Proyecto/UI/bin/Debug
/WindowsApp/Proyecto/UI/obj/Debug
