################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/WindowsApp/.vs/WindowsApp/FileContentIndex/5778fcfc-068e-4704-9d32-71236aa380c9.vsidx
/WindowsApp/.vs/WindowsApp/FileContentIndex/d06edbe9-0ada-4474-acd5-886b86d79e43.vsidx
/WindowsApp/.vs/WindowsApp/v17/DocumentLayout.backup.json
